<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/admin/books">Library</a>
        <!--<span class="nav-item" th:text="${session.user.username}"></span>-->
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-outline-dark mt-auto" type="submit" value="Logout">
        </form>
    </div>
</nav>
<section class="py-5">
    <div class="container px-7 px-lg-8 mt-8">
        <button type="button" class="btn btn-outline-dark mt-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Add image</button>
        <button type="button" class="btn btn-outline-dark mt-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">Add text</button>
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">Add image</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/file/save/{id}(id=${book.id})}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">

                            <div>
                                <label>Photos: </label>
                                <input type="file" name="image" accept="image/png, image/jpeg"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark mt-auto">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel3">Add text</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/file/save/{id}(id=${book.id})}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">

                            <div>
                                <label>Photos: </label>
                                <input type="file" name="image" accept=".txt"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark mt-auto">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <form th:method="post" th:action="@{/admin/edit/{id}(id=${book.id})}" th:object="${book}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th></th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Description</th>
                    <th scope="col">Rating</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" th:text="${book.id}"></th>
                    <td><img alt="Image" th:src="@{/image/{id}(id=${book.id})}" height="180" width="120"/></td>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.description}"></td>
                    <td th:text="${book.rating}"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <input th:field="*{name}" type="text" name="name" class="form-control form-control-sm"/>
                        <label class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                    </td>
                    <td>
                        <input th:field="*{author}" type="text" name="author" class="form-control form-control-sm"/>
                        <label class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"/>
                    </td>
                    <td>
                        <input th:field="*{description}" type="text" name="description" class="form-control form-control-sm"/>
                        <label class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
                    </td>
                    <td>
                        <input th:field="*{rating}" type="number" min="0" max="5" step="0.1" name="rating" class="form-control form-control-sm"/>
                        <label class="text-danger" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"/>
                    </td>
                    <td>
                    <td></td>
                    <td><button class="btn btn-outline-dark mt-auto" type="submit">Submit</button></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</section>
</body>
</html>